<div class="row">
  <div class="col-xs-12">
    <form
      [formGroup]="recipeForm"
      (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <div class="btn-toolbar">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-primary">Cancel</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              formControlName="name"
              type="text" id="name"
              class="form-control" />
          </div>
          <div class="mb-3">
            <label for="imagePath" class="form-label">Image URL</label>
            <input
              formControlName="imagePath"
              type="text" id="imagePath"
              class="form-control" />
          </div>
          <div class="mb-3">
            <img src="" alt="" class="img-responsive" />
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
              formControlName="description"
              id="description"
              class="form-control" rows="6"
            ></textarea>
          </div>
          <div class="input-group mb-3">
            <input type="text" class="form-control" />
            <input type="number" class="form-control" style="max-width: 20%;" />
            <button class="btn btn-outline-danger" type="button">Delete</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
