<div class="card">
  <img
    class="card-img-top"
    style="max-height: 18rem; object-fit: cover;"
    [src]="recipe.imagePath" [alt]="recipe.imagePath" />
  <div class="card-body">
    <h1>{{ recipe.name }}</h1>
    <p>{{ recipe.description }}</p>
    <div class="dropdown">
      <button
        appDropdown type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Recipe
      </button>
      <ul class="dropdown-menu">
        <li>
          <a
            (click)="onAddToShoppingList()"
            class="dropdown-item" style="cursor: pointer;">
            To Shopping List
          </a>
        </li>
        <li>
          <a
            (click)="onEditRecipe()"
            class="dropdown-item" style="cursor: pointer;">
            Edit Recipe
          </a>
        </li>
        <li>
          <a
            (click)="onDeleteRecipe()"
            class="dropdown-item" style="cursor: pointer;">
            Delete Recipe
          </a>
        </li>
      </ul>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li
      *ngFor="let ingredient of recipe.ingredients"
      class="list-group-item">
      {{ ingredient.name }} - {{ ingredient.amount }}
    </li>
  </ul>
</div>