<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <div class="list-group">
      <a class="list-group-item" href="#">
        <div class="float-start">
          <h4>Recipe Name</h4>
          <p>Description</p>
        </div>
        <span class="float-end">
          <img
            class="img-fluid"
            style="max-height: 50px;"
            src="" alt="" />
        </span>
      </a>
    </div>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
